*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 90px;
}

.gallery{
    display: grid;
    gap: 2rem;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
}

.gallery__figure{
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.gallery__img:hover{
    transform: scale(1.4) rotate(5deg);
}

.gallery__img{
    cursor: pointer;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform .5s
}

.modal{
    position: fixed;
    inset: 0;
    background-color: #000000d5;
    display: grid;
    place-items: center;

    opacity: 0;
    pointer-events: none;

    transition: opacity .5s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
}

.modal__close{
    background-color: crimson;
    width: 40px;
    height: 40px;
    color: white;

    border-radius: 50%;
    border: none;

    position: absolute;
    top: 40px;
    left: 40px;
}

.modal--show .modal__img{
    transform: translateY(0%) scale(1);
}

.modal__img{
    height: min(85vh, 600px);
    border-radius: 10px;
    transform: translateY(100%) scale(.2);
    transition: .5s transform .5s;
}