*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial;
}

.parent{
    border: 2px black dotted;
    display: inline-block;
}
.box{
    display: inline-block;
    background-color: red;
    width: 100px;
    height: 100px;
}
#dos{
    background-color: green;
    position: absolute;
}
#tres{
    position: relative;
    background-color: aquamarine;
    bottom: 20px;
}



.element{
    margin: 80px auto;
    width: 50%;
    height: 200px;
    background-color: royalblue;
}

@media (min-width:600px){
    .element{
        background-color: crimson;   
    }
}

@media (min-width:900px){
    .element{
        background-color: #000;   
    }
}



@media (max-width: 800px){
    .element{
        background-color: crimson;   
    }
}

@media (max-width: 500px){
    .element{
        background-color: blueviolet;   
    }
}


